[Unit]
Description=Worker
After=network.target

[Service]
ExecStart=/usr/bin/java -jar worker-jar-with-dependencies.jar
KillMode=control-group
WorkingDirectory=/app/worker/target
Restart=on-failure

Environment="REDIS_HOST={{ hostvars['redis-1']['ansible_host'] }}"
Environment="POSTGRES_HOST={{ hostvars['postgresql-1']['ansible_host'] }}"
Environment="POSTGRES_DB={{ POSTGRESQL_DB }}"
Environment="POSTGRES_PORT={{ POSTGRESQL_PORT }}"
Environment="POSTGRES_USER={{ POSTGRESQL_USERNAME }}"
Environment="POSTGRES_PASSWORD={{ POSTGRESQL_PASSWORD }}"

[Install]
WantedBy=multi-user.target
