[Unit]
Description=Worker
After=network.target

[Service]
ExecStart=/usr/bin/java -jar worker-jar-with-dependencies.jar
KillMode=control-group
WorkingDirectory=/app/worker/target
Restart=on-failure

Environment="REDIS_HOST={{ hostvars['redis-1']['ansible_host'] }}"
Environment="POSTGRES_HOST={{ hostvars['postgresql-1']['ansible_host'] }}"
Environment="POSTGRES_DB={{ postgresql_db }}"
Environment="POSTGRES_PORT={{ postgresql_port }}"
Environment="POSTGRES_USER={{ postgresql_username }}"
Environment="POSTGRES_PASSWORD={{ postgresql_password }}"

[Install]
WantedBy=multi-user.target
